* {
    margin: 0;
    padding: 0;
}

body {
    background: #000017;
    color: #fff;
    font-family: 'Crimson Text', serif;
    max-width: 0 auto;
    text-align: center;
    padding: 20px;

}

h1 {
    padding: 25px;
    font-size: x-large;
}

button {
    background: #0066A2;
    color: #ffffff;
    border-style: outset;
    border-radius: 10px;
    border-color: #ffffff;
    height: 50px;
    width: 200px;
    text-shadow: none;
}

/* Estilização pra deixar os elementos em coluna e alinhar no centro */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: solid #fff;
    background-color: transparent;
}

/* Configuração tamanho da fonte e espaçamento */
.categoria,
.campoEntrada,
.campoSaida,
.caixaValor {
    padding: 10px;
    font-size: x-large;
}


/* Estilização do espaço onde se digita o valo a ser convertido */

.caixaDigiteOValo {
    display: flex;
    justify-content: center;
    width: 100;


}

/* Estilização da parte "Resultado" */

.boxResultado {
    padding: 10px;
    font-size: x-large;

}

/* Estilização do espaço onde apareçe o resultado da conversão */
.resultado {
    padding: 10px;
    font-size: x-large;
    background-color: #0066A2;
}

/* Margem do botão */
.botaoConverter {
    padding: 40px;

}

/* Estilização do botão de conversão */
button:hover {
    transform: scale(1.1);
    transition: 750ms linear;

}